@*@using PlantingCalendar.Models
@model CalendarGeneration

<script src="~/js/calendarDayTaskPopup.js" asp-append-version="true"></script>

<div>

    <div>
        @Model.DayInMonth.Day - @Model.DayInMonth.DayName
    </div>

    <div class="flex">
        <div class="flex width8">
            <div>Tasks</div>
            <div><button id="newTaskButton" onclick="addRow()" type="button">New Task</button></div>
        </div>
    </div>

    </div>
</div>
*@