<div class="flex-column">
    <div class="flex">
        <div class="text-center">
            <button ng-click="$ctrl.saveCalendarSeeds()">Save</button>
        </div>
        <div>
            <input placeholder="Search..." id="searchBar" ng-model="$ctrl.seedListFilter" />
        </div>
    </div>
    <div class="flex">
        <div id="seedDisplay" class="col-6">
            <div class="flex">
                <table class="col-12">
                    <tr>
                        <th class="col-5">Plant Type</th>
                        <th class="col-5">Breed</th>
                        <th class="col-2"></th>
                    </tr>
                    <tbody id="plantList">
                        <tr ng-hide="$ctrl.allSeedList.length > 0">
                            <td></td>
                            <td>No Seeds!</td>
                            <td></td>
                        </tr>
                        <tr ng-hide="$ctrl.allSeedList.length == 0" ng-repeat="seed in $ctrl.allSeedList | filter:$ctrl.seedListFilter" ng-click="$ctrl.addSeed(seed)">
                            <td>{{seed.plantType}}</td>
                            <td>{{seed.breed}}</td>
                            <td class="text-center">></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="calendarSeedDisplay" class="col-6">
            <div class="flex">
                <table class="col-12">
                    <tr>
                        <th class="col-2"></th>
                        <th class="col-5">Plant Type</th>
                        <th class="col-5">Breed</th>
                    </tr>
                    <tbody id="plantList">
                        <tr ng-hide="$ctrl.currentSeedList.length > 0">
                            <td></td>
                            <td>No Seeds!</td>
                            <td></td>
                        </tr>
                        <tr ng-hide="$ctrl.currentSeedList.length == 0" ng-repeat="seed in $ctrl.currentSeedList | filter:$ctrl.seedListFilter" ng-click="$ctrl.removeSeed(seed)">
                            <td class="text-center"><</td>
                            <td>{{seed.plantTypeName}}</td>
                            <td>{{seed.plantBreed}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>