<div class="flex-column space-evenly">
    <div>
        {{$ctrl.thisSeed.plantTypeName}} - {{$ctrl.thisSeed.plantBreed}}
    </div>

    <button ng-click="$ctrl.saveTask()">Save</button>
    <button ng-click="$ctrl.deleteTask()">Delete</button>

    <div>
        Name: <input type="text" name="name" ng-model="$ctrl.thisTask.taskName" />
    </div>

    <div>
        Description: <textarea ng-model="$ctrl.thisTask.taskDescription">{{$ctrl.thisTask.taskDescription}}</textarea>
    </div>

    <div>
        Display Char: <input name="displayChar" type="text" maxlength="1" ng-model="$ctrl.thisTask.displayChar" />
    </div>

    <div>
        Display Colour: <input name="sowDisplayColour" type="color" class="width12" ng-model="$ctrl.thisTask.displayColour">
    </div>

    <div>
        Is A Ranged Task <input type="checkbox" ng-model="$ctrl.thisTask.isRanged" />
    </div>

    <div ng-show="$ctrl.thisTask.isRanged">
        <div>
            Range Start:  <input type="date" ng-model="$ctrl.thisTask.taskStartDate" />
        </div>
        <div>
            Range End:  <input type="date" ng-model="$ctrl.thisTask.taskEndDate" />
        </div>
    </div>

    <div ng-show="!$ctrl.thisTask.isRanged">
        Date: <input type="date" ng-model="$ctrl.thisTask.taskSetDate" />
    </div>
</div>