<div class="flex-column space-evenly">
    <form name="newTaskForm" class="my-form">
        <div>
            <button ng-click="$ctrl.confirmSave()" ng-show="!$ctrl.isConfirmSave && !$ctrl.isSaving" class="btn btn-primary" ng-disabled="newTaskForm.$invalid">Save</button>
            <button ng-click="$ctrl.saveNewTask()" ng-show="$ctrl.isConfirmSave && !$ctrl.isSaving" class="btn btn-danger" ng-disabled="newTaskForm.$invalid">Confirm?</button>
            <button disabled ng-show="$ctrl.isSaving" class="btn btn-primary">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Saving...
            </button>
        </div>

        <div class="form-group mt-2">
            <label for="name">Name</label>
            <input type="text" class="form-control my-input" id="name" ng-model="$ctrl.name" required>
        </div>

        <div class="row mt-2">

            <div class="form-group col">
                <label for="seedSelect">Seeds</label>
                <select multiple class="form-control my-input" id="seedSelect" ng-model="$ctrl.seedIds" required>
                    <option ng-repeat="seed in $ctrl.seeds" value="{{seed.id}}">{{seed.plantTypeName}} - {{seed.plantBreed}}</option>
                </select>
            </div>

            <div class="form-group col">
                <label for="description">Description</label>
                <textarea type="text" class="form-control my-input" id="description" ng-model="$ctrl.taskDescription" rows="4">
                    {{$ctrl.taskDescription}}
                </textarea>
            </div>
        </div>



        <div class="form-group row">
            <div class="col m-4">
                <input class="form-check-input" type="checkbox" ng-model="$ctrl.isDisplay" id="isDisplay">
                <label class="form-check-label" for="isDisplay">
                    Display on Yearly Calendar
                </label>
            </div>
        </div>



        <div class="form-group row mt-2" >

            <div class="form-group col">
                <label for="character">Display Character</label>
                <input name="character" type="text" maxlength="1" ng-model="$ctrl.displayChar" class="form-control my-input" ng-disabled="!$ctrl.isDisplay" ng-required="$ctrl.isDisplay" />
            </div>

            <div class="form-group col">
                <label for="displayColour">Display Colour</label>
                <input name="displayColour" type="color" ng-model="$ctrl.displayColour" class="form-control my-input" ng-disabled="!$ctrl.isDisplay" ng-required="$ctrl.isDisplay">
            </div>

        </div>

        <div class="row">
            <div class="form-group m-4">
                <input class="form-check-input" type="checkbox" ng-model="$ctrl.isRanged" id="isRanged">
                <label class="form-check-label" for="isRanged">
                    Is A Ranged Task
                </label>
            </div>
        </div>

        <div ng-show="$ctrl.isRanged">

            <div class="row">
                <div class="form-group col">
                    <label for="name">Range Start</label>
                    <input type="date" class="form-control my-input" id="rangeStart" ng-model="$ctrl.rangeStartDate" ng-required="$ctrl.isRanged">
                </div>
                <div class="form-group col">
                    <label for="name">Range End</label>
                    <input type="date" class="form-control my-input" id="rangeEnd" ng-model="$ctrl.rangeEndDate" ng-required="$ctrl.isRanged">
                </div>
            </div>
        </div>

        <div ng-show="!$ctrl.isRanged">

            <div class="row">
                <div class="form-group col">
                    <label for="repeateableType">Repeat</label>
                    <select class="form-control" id="repeateableType" ng-model="$ctrl.newTaskRepeatableType" ng-required="!$ctrl.isRanged">
                        <option ng-repeat="option in $ctrl.repeatableTypes" value="{{$index}}">{{option}}</option>
                    </select>
                </div>
                <div ng-show="$ctrl.isNever()" class="col">
                    <div class="form-group col">
                        <label for="dateFrom">Task Date</label>
                        <input type="date" class="form-control my-input" id="setDate" ng-model="$ctrl.setDate" ng-required="$ctrl.isNever() && !$ctrl.isRanged">
                    </div>
                </div>
                <div ng-show="!$ctrl.isNever()" class="col">
                    <div class="row">
                        <div class="form-group col">
                            <label for="dateFrom">From</label>
                            <input type="date" class="form-control my-input" id="dateFrom" ng-model="$ctrl.fromDate" ng-required="!$ctrl.isNever() && !$ctrl.isRanged">
                        </div>
                        <div class="form-group col">
                            <label for="dateTo">To</label>
                            <input type="date" class="form-control my-input" id="dateTo" ng-model="$ctrl.toDate" ng-required="!$ctrl.isNever() && !$ctrl.isRanged">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>