<div class="flex-column space-evenly">

    <div class="text-center flex col-12">
        <div ng-hide="$ctrl.seedData != null" class="col-5">
            Upload New Seed
        </div>
        <div ng-hide="$ctrl.seedData == null" class="col-5">
            Edit Existing Seed
        </div>
        <div class="flex">
            <div>
                <button ng-click="$ctrl.saveSeed()">Save</button>
            </div>
            <div>
                <button ng-click="$ctrl.DeleteSeed()" ng-disabled="$ctrl.seedData == null">Delete</button>
            </div>
        </div>
    </div>

    <div class="width12 flex-column mb-4">
        <div class="flex mb-4">
            <div class="flex-column col-6 text-center ">
                <div>
                    Front of Packet
                </div>
                <img ng-hide="$ctrl.seedData.frontPhotoUrl == null" class="m-auto" />
                <input type="file" id="img" name="img" accept="image/*" class="m-auto" ng-change="$ctrl.photoUploaded()" ng-model="$ctrl.frontPhoto">
            </div>
            <div class="flex-column col-6 text-center">
                <div>
                    Back of Packet
                </div>
                <img ng-hide="$ctrl.seedData.backPhotoUrl == null" class="m-auto" />
                <input type="file" id="img" name="img" accept="image/*" class="m-auto" ng-change="$ctrl.photoUploaded()" ng-model="$ctrl.backPhoto">
            </div>
        </div>
        <div class="flex">
            <div class="width4">
                PlantType
            </div>
            <div class="width8">
                <input class="width12" name="plantType" ng-model="$ctrl.seedData.plantType" type="text" />
            </div>
        </div>
        <div class="flex">
            <div class="width4">
                Variety / Breed
            </div>
            <div class="width8">
                <input class="width12" name="breed" ng-model="$ctrl.seedData.breed" />
            </div>
        </div>
        <div class="flex">
            <div class="width4">
                Description
            </div>
            <div class="width8">
                <textarea class="width12" name="description" ng-model="$ctrl.seedData.description"></textarea>
            </div>
        </div>
        <div class="flex">
            <div class="width4">
                Sun Requirements
            </div>
            <div class="width8">
                <input class="width12" name="sunRequirement" ng-model="$ctrl.seedData.sunRequirement" />
            </div>
        </div>
        <div class="flex">
            <div class="width4">
                Water Requirements
            </div>
            <div class="width8">
                <input class="width12" name="wateringRequirement" ng-model="$ctrl.seedData.waterRequirement" />
            </div>
        </div>
        <div class="flex">
            <div class="width4">
                Expiry Date
            </div>
            <div class="width8">
                <input class="width12" name="expiryDate" ng-model="$ctrl.seedData.expiryDate" type="text" />
            </div>
        </div>
    </div>
    <div class="width12">
        <div>
            <button ng-click="$ctrl.addAction()">Add Action</button>

            <table id="actionTable" class="mb-4">
                <tr>
                    <th class="width4">Name</th>
                    <th class="width1">Char</th>
                    <th class="width2">Colour</th>
                    <th class="width2 text-center">Start</th>
                    <th class="width2 text-center">End</th>
                    <th class="width1"></th>
                </tr>

                <tr class="actionItem">
                    <td class="width4">
                        <input name="sowActionName" class="width12" ng-disabled="true" ng-model="$ctrl.seedData.sowAction.actionName">
                    </td>
                    <td class="width1">
                        <input name="sowDisplayChar" type="text" maxlength="1" class="width12" ng-model="$ctrl.seedData.sowAction.displayChar">
                    </td>
                    <td class="width2">
                        <input name="sowDisplayColour" type="color" class="width12" ng-model="$ctrl.seedData.sowAction.displayColour">
                    </td>
                    <td class="width2">
                        <input name="sowStartDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.sowAction.startDateDay" placeholder="DD" class="col-5">
                        <input name="sowStartDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.sowAction.startDateMonth" placeholder="MM" class="col-6">
                    </td>
                    <td class="width2">
                        <input name="sowEndDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.sowAction.endDateDay" placeholder="DD" class="col-5">
                        <input name="sowEndDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.sowAction.endDateMonth" placeholder="MM" class="col-6">
                    </td>
                    <td>
                    </td>
                </tr>

                <tr class="actionItem">
                    <td class="width4">
                        <input name="harvestActionName" class="width12" ng-disabled="true" ng-model="$ctrl.seedData.harvestAction.actionName">
                    </td>
                    <td class="width1">
                        <input name="harvestDisplayChar" type="text" maxlength="1" class="width12" ng-model="$ctrl.seedData.harvestAction.displayChar">
                    </td>
                    <td class="width2">
                        <input name="harvestDisplayColour" type="color" class="width12" ng-model="$ctrl.seedData.harvestAction.displayColour">
                    </td>
                    <td class="width2">
                        <input name="harvestStartDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.harvestAction.startDateDay" placeholder="DD" class="col-5">
                        <input name="harvestStartDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.harvestAction.startDateMonth" placeholder="MM" class="col-6">
                    </td>
                    <td class="width2">
                        <input name="harvestEndDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.harvestAction.endDateDay" placeholder="DD" class="col-5">
                        <input name="harvestEndDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.harvestAction.endDateMonth" placeholder="MM" class="col-6">
                    </td>
                    <td>
                    </td>
                </tr>


                <tr class="actionItem" ng-repeat="action in $ctrl.seedData.actions">
                    <td class="width4">
                        <input name="actionName" class="width12" ng-model="action.actionName">
                    </td>
                    <td class="width1">
                        <input name="displayChar" type="text" maxlength="1" class="width12" ng-model="action.displayChar">
                    </td>
                    <td class="width2">
                        <input name="displayColour" type="color" class="width12" ng-model="action.displayColour">
                    </td>
                    <td class="width2">
                        <input name="startDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="action.startDateDay" placeholder="DD" class="col-5">
                        <input name="startDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="action.startDateMonth" placeholder="MM" class="col-6">
                    </td>
                    <td class="width2">
                        <input name="endDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="action.endDateDay" placeholder="DD" class="col-5">
                        <input name="endDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="action.endDateMonth" placeholder="MM" class="col-6">
                    </td>
                    <td class="width1">
                        <button ng-click="$ctrl.removeRow($index)" type="button" class="width12">X</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>