<div class="flex-column space-evenly">
    <form name="seedForm" class="my-form">
        <div class="flex" ng-hide="$ctrl.readOnly">
            <div>
                <button ng-click="$ctrl.confirmSave()" ng-show="!$ctrl.isConfirmSave && !$ctrl.isSaving" class="btn btn-primary" ng-disabled="seedForm.$invalid"> <span class="fas fa-save"></span> Save</button>
                <button ng-click="$ctrl.saveSeed()" ng-show="$ctrl.isConfirmSave && !$ctrl.isSaving" class="btn btn-danger" ng-disabled="seedForm.$invalid">Confirm?</button>
                <button disabled ng-show="$ctrl.isSaving" class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Saving...
                </button>
            </div>

            <div>
                <button ng-click="$ctrl.confirmDelete()" class="btn btn-secondary" ng-show="!$ctrl.isConfirmDelete && !$ctrl.isDeleting" ng-disabled="!$ctrl.hasData">Delete</button>
                <button ng-click="$ctrl.deleteSeed()" ng-show="$ctrl.isConfirmDelete && !$ctrl.isDeleting" class="btn btn-danger">Confirm?</button>
                <button disabled ng-show="$ctrl.isDeleting" class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Deleting...
                </button>
            </div>
        </div>

        <div class="form-group mt-2">
            <label for="name">Plant Type</label>
            <input type="text" class="form-control my-input" id="plantType" ng-model="$ctrl.seedData.plantType" ng-readonly="$ctrl.readOnly" required>
        </div>

        <div class="form-group mt-2">
            <label for="name">Breed</label>
            <input type="text" class="form-control my-input" id="breed" ng-model="$ctrl.seedData.breed" ng-readonly="$ctrl.readOnly" required>
        </div>

        <div class="form-group mt-2">
            <label for="description">Description</label>
            <textarea type="text" class="form-control my-input" id="description" ng-model="$ctrl.seedData.description" rows="4" ng-readonly="$ctrl.readOnly">{{$ctrl.seedData.description}}</textarea>
        </div>

        <div class="form-group mt-2">
            <label for="sun">Sun Requirements</label>
            <input type="text" class="form-control my-input" id="sun" ng-model="$ctrl.seedData.sunRequirement" ng-readonly="$ctrl.readOnly" required>
        </div>

        <div class="form-group mt-2">
            <label for="water">Water Requirements</label>
            <input type="text" class="form-control my-input" id="water" ng-model="$ctrl.seedData.waterRequirement" ng-readonly="$ctrl.readOnly" required>
        </div>

        <div class="form-group mt-2">
            <label for="expiryDate">Expiry Date</label>
            <input type="date" class="form-control my-input" id="expiryDate" ng-model="$ctrl.expiryDate" ng-readonly="$ctrl.readOnly">
        </div>

        <div class="mt-4">
            <button ng-click="$ctrl.addAction()" ng-hide="$ctrl.readOnly" class="btn btn-primary"> <span class="fas fa-plus"></span> Action</button>

            <!--SOWING ACTION-->
            <div class="bg-light p-4 border b-4 m-4">
                <div class="row">
                    <div class="form-group col">
                        <label for="sowActionName">Name</label>
                        <input type="text" class="form-control my-input" id="sowActionName" ng-model="$ctrl.seedData.sowAction.actionName" ng-readonly="$ctrl.readOnly" ng-disabled="true">
                    </div>

                    <div class="form-group col">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control my-input" id="description" ng-model="$ctrl.seedData.sowAction.description" rows="1" ng-readonly="$ctrl.readOnly">{{$ctrl.seedData.description}}</textarea>
                    </div>
                </div>
                <div class="row mt-2 ms-2">
                    <div class="form-group col align-self-center">
                        <input class="form-check-input" type="checkbox" ng-model="$ctrl.seedData.sowAction.isDisplay" id="isDisplay" ng-readonly="$ctrl.readOnly" ng-disabled="true">
                        <label class="form-check-label" for="isDisplay">
                            Display on Yearly Calendar
                        </label>
                    </div>

                    <div class="form-group col">
                        <label for="character">Display Character</label>
                        <input name="character" type="text" maxlength="1" ng-model="$ctrl.seedData.sowAction.displayChar" class="form-control my-input" ng-disabled="!$ctrl.seedData.sowAction.isDisplay" ng-required="$ctrl.seedData.sowAction.isDisplay"  ng-readonly="$ctrl.readOnly" />
                    </div>

                    <div class="form-group col">
                        <label for="displayColour">Display Colour</label>
                        <input name="displayColour" type="color" ng-model="$ctrl.seedData.sowAction.displayColour" class="form-control my-input" ng-disabled="!$ctrl.seedData.sowAction.isDisplay || $ctrl.readOnly" ng-required="$ctrl.seedData.sowAction.isDisplay"  ng-readonly="$ctrl.readOnly">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="sowStartDateDay">Start Date</label>
                        <div class="row">
                            <div class="col">
                                <input name="sowStartDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.sowAction.startDateDay" placeholder="DD" class="form-control my-input" ng-readonly="$ctrl.readOnly" required >
                            </div>
                            <div class="col">
                                <input name="sowStartDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.sowAction.startDateMonth" placeholder="MM" class="form-control my-input" ng-readonly="$ctrl.readOnly" required>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="sowEndDateDay">End Date</label>
                        <div class="row">
                            <div class="col">
                                <input name="sowEndDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.sowAction.endDateDay" placeholder="DD" class="form-control my-input" ng-readonly="$ctrl.readOnly" required>
                            </div>
                            <div class="col">
                                <input name="sowEndDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.sowAction.endDateMonth" placeholder="MM" class="form-control my-input" ng-readonly="$ctrl.readOnly" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!--HARVEST ACTION-->
            <div class="bg-light p-4 border b-4 m-4">
                <div class="row">
                    <div class="form-group col">
                        <label for="sowActionName">Name</label>
                        <input type="text" class="form-control my-input" id="sowActionName" ng-model="$ctrl.seedData.harvestAction.actionName" ng-readonly="$ctrl.readOnly" ng-disabled="true">
                    </div>

                    <div class="form-group col">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control my-input" id="description" ng-model="$ctrl.seedData.harvestAction.description" rows="1" ng-readonly="$ctrl.readOnly">{{$ctrl.seedData.description}}</textarea>
                    </div>
                </div>
                <div class="row mt-2 ms-2">
                    <div class="form-group col align-self-center">
                        <input class="form-check-input" type="checkbox" ng-model="$ctrl.seedData.harvestAction.isDisplay" id="hisDisplay" ng-readonly="$ctrl.readOnly" ng-disabled="true">
                        <label class="form-check-label" for="hisDisplay">
                            Display on Yearly Calendar
                        </label>
                    </div>

                    <div class="form-group col">
                        <label for="character">Display Character</label>
                        <input name="character" type="text" maxlength="1" ng-model="$ctrl.seedData.harvestAction.displayChar" class="form-control my-input" ng-disabled="!$ctrl.seedData.harvestAction.isDisplay" ng-required="$ctrl.seedData.harvestAction.isDisplay" ng-readonly="$ctrl.readOnly" />
                    </div>

                    <div class="form-group col">
                        <label for="displayColour">Display Colour</label>
                        <input name="displayColour" type="color" ng-model="$ctrl.seedData.harvestAction.displayColour" class="form-control my-input" ng-disabled="!$ctrl.seedData.harvestAction.isDisplay || $ctrl.readOnly" ng-required="$ctrl.seedData.harvestAction.isDisplay" ng-readonly="$ctrl.readOnly">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="harvestStartDateDay">Start Date</label>
                        <div class="row">
                            <div class="col">
                                <input name="harvestStartDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.harvestAction.startDateDay" placeholder="DD" class="form-control my-input" ng-readonly="$ctrl.readOnly" required>
                            </div>
                            <div class="col">
                                <input name="harvestStartDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.harvestAction.startDateMonth" placeholder="MM" class="form-control my-input" ng-readonly="$ctrl.readOnly" required>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="sowEndDateDay">End Date</label>
                        <div class="row">
                            <div class="col">
                                <input name="harvestEndDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.harvestAction.endDateDay" placeholder="DD" class="form-control my-input" ng-readonly="$ctrl.readOnly" required>
                            </div>
                            <div class="col">
                                <input name="harvestEndDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="$ctrl.seedData.harvestAction.endDateMonth" placeholder="MM" class="form-control my-input" ng-readonly="$ctrl.readOnly" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->

            <div ng-repeat="action in $ctrl.seedData.actions">
                <div class="bg-light p-4 border b-4 m-4">
                    <div class="row ms-4 me-4 mb-4" ng-hide="$ctrl.readOnly">
                        <button ng-click="$ctrl.removeRow($index)" class="btn btn-secondary float-right"><span class="fas fa-times"></span></button>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="actionName">Name</label>
                            <input type="text" class="form-control my-input" id="actionName" ng-model="action.actionName" ng-readonly="$ctrl.readOnly" required>
                        </div>
                        <div class="form-group col">
                            <label for="description">Description</label>
                            <textarea type="text" class="form-control my-input" id="description" ng-model="action.description" rows="1" ng-readonly="$ctrl.readOnly">{{action.description}}</textarea>
                </div>
                    </div>
                    <div class="row mt-2 ms-2">
                        <div class="form-group col align-self-center">
                            <input class="form-check-input" type="checkbox" ng-model="action.isDisplay" id="isDisplay" ng-readonly="$ctrl.readOnly">
                            <label class="form-check-label" for="isDisplay">
                                Display on Yearly Calendar
                            </label>
                        </div>

                        <div class="form-group col">
                            <label for="character">Display Character</label>
                            <input name="character" type="text" maxlength="1" ng-model="action.displayChar" class="form-control my-input" ng-disabled="!action.isDisplay" ng-required="action.isDisplay" ng-readonly="$ctrl.readOnly" />
                        </div>

                        <div class="form-group col">
                            <label for="displayColour">Display Colour</label>
                            <input name="displayColour" type="color" ng-model="action.displayColour" class="form-control my-input" ng-disabled="!action.isDisplay || $ctrl.readOnly" ng-required="action.isDisplay">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label for="startDateDay">Start Date</label>
                            <div class="row">
                                <div class="col">
                                    <input name="startDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="action.startDateDay" placeholder="DD" class="form-control my-input" ng-readonly="$ctrl.readOnly" required>
                                </div>
                                <div class="col">
                                    <input name="startDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="action.startDateMonth" placeholder="MM" class="form-control my-input" ng-readonly="$ctrl.readOnly" required>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="sowEndDateDay">End Date</label>
                            <div class="row">
                                <div class="col">
                                    <input name="endDateDay" type="text" maxlength="2" ng-minlength="2" ng-model="action.endDateDay" placeholder="DD" class="form-control my-input" ng-readonly="$ctrl.readOnly" required>
                                </div>
                                <div class="col">
                                    <input name="endDateMonth" type="text" maxlength="2" ng-minlength="2" ng-model="action.endDateMonth" placeholder="MM" class="form-control my-input" ng-readonly="$ctrl.readOnly" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>