html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
}

/* Popup container */
.popupBackground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popupBox {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.block {
    display: block;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
    display: none;
}

.flex {
    display: flex;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    padding-bottom: 10px;
}

.width8p {
    width: 8%;
}

.width1 {
    width: 8.333%;
}

.width2 {
    width: 16.666%;
}

.width3 {
    width: 25%;
}

.width4 {
    width: 33.333%;
}

.width5 {
    width: 41.666%;
}

.width6 {
    width: 50%;
}

.width7 {
    width: 58.333%;
}

.width8 {
    width: 66.666%;
}

.width9 {
    width: 75%;
}

.width10 {
    width: 83.333%;
}

.width11 {
    width: 91.666%;
}

.width12 {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.space-evenly {
    justify-content: space-evenly;
}

.mainbox {
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.non-scroll-table {
    width: 100%;
}

.task {
    width: 150px;
    border: 2px solid black;
}

    .task:hover {
        background-color: coral;
    }

.scroll-table {
    width: 100%;
}

.scroll-table-div {
    overflow-x: scroll;
    width: 100%;
}

.td {
    width: 150px;
    border: 2px solid black
}

.header {
    padding: 5px;
    min-width: 125px;
    background-color: #04AA6D;
    color: white;
}

.informationPopup {
    height: 100%;
    border: 1px solid black;
    padding: 10px;
}

.navTitle {
}

.navLink {
    vertical-align: central
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.space-between {
    align-content: space-between;
}

.table-first-column {
    position: absolute;
}

.my-form {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    background: transparent;
}

    .my-form.ng-invalid {
        background: white;
    }

.my-input.ng-invalid {
    border-color: red;
}
