@page
@model PlantingCalendar.Pages.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<script src="~/js/calendar.js" asp-append-version="true"></script>
<script src="~/js/seed-information.component.js" asp-append-version="true"></script>
<script src="~/js/edit-calendar-seeds.component.js" asp-append-version="true"></script>
<script src="~/js/new-task-details.component.js" asp-append-version="true"></script>
<script src="~/js/edit-task-details.component.js" asp-append-version="true"></script>

<div ng-app="seedApp" class="mainbox">
    <div ng-controller="calendar">

        <div class="text-center flex">
            <div><h1 class="display-4">{{calendar.calendarName}} - {{calendar.year}}</h1></div>
            <div><button ng-click="loadNewSeedPopup()">Edit Seeds</button></div>
            <div><button ng-click="loadNewTaskPopup()">New Task</button></div>
        </div>

        <div ng-show="!showSingleMonth">
            <table class="non-scroll-table">
                <tr>
                    <th class="col-2">Seeds</th>
                    <th ng-repeat="month in months" ng-click="showMonth(month.order)" class="header"> {{month.monthName}} </th>
                </tr>
                <tr ng-repeat="seed in calendar.seeds">
                    <td ng-click="loadSeedInfoPopup(seed.id)">{{seed.plantTypeName}} - {{seed.plantBreed}}</td>
                    <td ng-repeat="(month, taskmonth) in seed.tasks" ng-click="showMonth(month)" class="td">
                        <ul ng-repeat="task in taskmonth">
                            <li>{{task.displayChar}}</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="showSingleMonth">
            <div class="text-center">{{chosenMonth.monthName}}</div>
            <div ng-click="showCalendar()" class="text-center">Back</div>
             
            <div class="scroll-table-div">
                <table class="scroll-table">
                    <tr>
                        <th class="col-2">Seeds</th>
                        <th ng-repeat="day in chosenMonth.days" class="header">
                            <div class="text-center">
                                {{day.day}}
                            </div>
                            <div class="text-center">
                                {{day.dayName}}
                            </div>
                        </th>
                    </tr>
                    <tr ng-repeat="seed in seedsByMonth">
                        <td ng-click="loadSeedInfoPopup(seed.id)">{{seed.plantTypeName}} - {{seed.plantBreed}}</td>

                        <td ng-repeat="day in seed.dayTasks" class="td">
                            <div ng-repeat="task in day.tasks" class="task" ng-click="loadTaskInfoPopup(task, seed)">
                                <input type="checkbox" ng-bind="task.isComplete" />
                                {{task.taskName}}
                                {{task.taskDescription}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="popupBackground" class="popupBackground">
            <div id="seedInfoPopup" class="popupBox">
                <div id="seedInfo">
                    <seed-info seed-id="displaySeedId" read-only="true"></seed-info>
                </div>
            </div>
        </div>

        <div id="newTaskPopupBackground" class="popupBackground">
            <div id="newTaskPopup" class="popupBox">
                <div id="newTaskInfo">
                    <new-task-details calendar-id="calendar.calendarId" seeds="calendar.seeds" refresh="refreshNewTask()" refresh-trigger="refreshTrigger"></new-task-details>
                </div>
            </div>
        </div>

        <div id="editTaskPopupBackground" class="popupBackground">
            <div id="editTaskPopup" class="popupBox">
                <div id="editTaskInfo">
                    <edit-task-details task="editPopupTask" seed="editPopupSeed" refresh="refreshTaskInfo()"></edit-task-details>
                </div>
            </div>
        </div>

        <div id="newSeedPopupBackground" class="popupBackground">
            <div id="newSeedPopup" class="popupBox">
                <div id="newSeedInfo">
                    <edit-calendar-seeds calendar-id="calendar.calendarId" current-seeds="calendar.seeds" refresh="refreshNewSeed()" refresh-trigger="refreshTrigger"></edit-calendar-seeds>
                </div>
            </div>
        </div>
    </div>
</div>
