@page
@model PlantingCalendar.Pages.NewCalendarModel
@{
    ViewData["Title"] = "New Calendar";
}

<div class="text-center">
    <h1 class="display-4">This is the new calendar creation page</h1>
</div>
