@page
@using PlantingCalendar.Models;
@model PlantingCalendar.Pages.SeedsModel
@{
    ViewBag.Title = "Seeds";
}

<script src="~/js/seeds.js" asp-append-version="true"></script>
<script src="~/js/seed-information.component.js" asp-append-version="true"></script>

<div ng-app="seedApp" ng-controller="seeds">
    <div class="flex mainbox">
        <div id="seedList" class="flex-column col-6">
            <form class="my-form">
                <div class="flex">
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" ng-model="filter" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>

                    <toggle ng-model="showExpired" on="Expired Included" off="Expired Hidden" on-class="btn-success text-nowrap" off-class="btn-danger text-nowrap"></toggle>

                    <button type="button" class="btn btn-secondary text-nowrap" ng-disabled="selectedSeedId == null" ng-click="setInformationDisplay(null)"><span class="fa fa-plus"></span> New Seed</button>
                </div>
                <div class="flex">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th ng-click="orderBy('plantType')" class="col-4">Plant Type</th>
                                <th ng-click="orderBy('breed')" class="col-3">Breed</th>
                                <th ng-click="orderBy('sunRequirement')" class="col-2">Sun Requirement</th>
                                <th ng-click="orderBy('waterRequirement')" class="col-2">Water Requirement</th>
                                <th class="col-1"></th>
                            </tr>
                        </thead>
                        <tbody id="plantList">
                            <tr ng-hide="seedList.length > 0">
                                <td colspan="5">No Seeds Found...</td>
                            </tr>
                            <tr ng-hide="seedList.length == 0" ng-repeat="seed in seedList | orderBy:order | filter:shouldShow | filter:filter " ng-class="{'table-active': seed.id == selectedSeedId, 'table-danger': seed.isExpired}" ng-click="setInformationDisplay(seed)">
                                <td>{{seed.plantType}}</td>
                                <td>{{seed.breed}}</td>
                                <td>{{seed.sunRequirement}}</td>
                                <td>{{seed.waterRequirement}}</td>
                                <td>{{seed.isExpired ? 'EXPIRED' : ''}} </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <div id="seedInformationDisplay" class="col-6 p-3 border border-4">
            <seed-info seed-id="displaySeedId" refresh="refresh()" read-only="false"></seed-info>
        </div>
    </div>
</div>
