@page
@using PlantingCalendar.Models;
@model PlantingCalendar.Pages.SeedsModel
@{
    ViewBag.Title = "Seeds";
}

<script src="~/js/seeds.js" asp-append-version="true"></script>
<script src="~/js/seedInformationPopup.js" asp-append-version="true"></script>

<div class="text-center">
    <div>
        <div>
            <input placeholder="Search..." id="searchBar" oninput="debounceLoadSeedList(this.value)" />
            <button onclick="loadPopup('popupBackground', 'seedInfoPopup' , null)">New Seed</button>
        </div>
        <div id="plantList">
        </div>
    </div>
</div>

<div id="popupBackground" class="popupBackground">
    <div id="seedInfoPopup" class="popupBox">
        <div id="seedInfo">
        </div>
    </div>
</div>
